@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.5s ease-out;
}

body {
  font-family: "Cinzel Decorative", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Overlay color for hero section */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, #ffffff00 0%, #000000 90%);
}

/* Footer Background Image */
.footerBG {
  background-image: url("@/assets/for_landing/backgrounds/footerImg.jpg");
  background-size: cover;
  background-position: center;
}

/* Overlay color for footer section */
.overlayF {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, #ffffff00 50%, #000000 99%);
}